<h2 id="about" class="text-pretty">
  <span class="text-3xl font-semibold">Sobre mi</span>
</h2>
<div
  class="w-2/3 flex flex-col gap-4 mt-5 [&>p]:text-lg [&>p]:py-1 text-pretty"
>
  <p>
    Soy graduado de Ingenieria en Sistemas en la unversidad Tecnologica de
    Panama(UTP).
  </p>
  <p>
    Soy entusiasta de linux, me gusta aprender temas interesantes y tambien
    entender como funcionan las tecnologias.
  </p>
  <p></p>
</div>
