<footer
  class="flex flex-col sm:flex-row sm:items-center sm:justify-around sm:gap-4 mx-auto py-2 px-4 mb-4 sm:w-8/12 dark:bg-black/60 bg-blue-100 sm:rounded-full text-balance"
>
  <span>
   Hecho por 
    <strong>
      <a
        class="underline"
        href="https://github.com/abr-code"
        rel="noopener noreferrer"
        target="_blank"
      >
        abr-code
      </a>
    </strong>
    basado en el portafolio de
    <strong>
      <a
        class="underline"
        href="https://github.com/midudev/porfolio.dev"
        rel="noopener noreferrer"
        target="_blank"
      >
        midudev
      </a>
    </strong>
  </span>
</footer>
