<header class="flex justify-center sticky top-0 z-10">
  <nav
    class="[&>a]:p-1 w-fit border-2 rounded-full flex justify-center gap-1 m-auto mt-8 bg-blue-100 dark:bg-black/60 border-black sm:text-2xl"
  >
    <!-- <a href="#experience">Experiencia</a> -->
    <a href="#about">Sobre mi</a>
    <a href="#projects">Projectos</a>
    <a href="#contact">Contacto</a>
  </nav>
</header>
